* {
    margin: 0px;
    padding: 0px;
}

/* -----------Main container------------ */
.main-div {
    width: 1500px;
    height: 100px;
    margin: 0 auto;
}

.main-container {
    width: 1400px;
    margin: 0 auto;
    height: 100px;
}

.head-img {
    height: 40vh;
    background-image: url(images/ww.jpg);
    background-size: 1400px 250px;
    background-repeat: no-repeat;
}

/* ------------Small Container--------------- */

.small_container {
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    margin-top: -25vh;
    margin-bottom: 40px;
    background-color: white;
}

.heading {
    padding-bottom: 40px;
    text-align: center;
}

/* ---------------Green & Blue box---------------- */

.two_box {
    display: flex;
    justify-content: space-evenly;
}

.box-one {
    margin-right: -100px;
    width: 30%;
    border: 3px solid rgb(117 164 50);
    border-radius: 5px;
}



.box-two {
    margin-right: -30px;
    width: 30%;
    border: 3px solid rgb(37 162 216);
    border-radius: 5px;

}

.box-one p {
    padding: 15px;
}

.box-one button {
    margin: 110px 40px 0px 40px;
    padding: 20px 50px;
    border-radius: 5px;
    background-color: rgb(117 164 50);
    border-style: none;
    text-align: center;
    color: white;
}

.box-two button {
    margin: 0px 40px 20px 40px;
    padding: 20px 50px;
    border-radius: 5px;
    background-color: rgb(37 162 216);
    border-style: none;
    text-align: center;
    color: white;
}

.box-two p {
    padding: 15px;
}

p i {
    color: rgb(37 162 216);
    padding: 5px;
}

.head {
    color: white;
    padding: 25px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(117 164 50);
}

.head p {
    padding: 0px;
}

.head-two {
    background-color: rgb(37 162 216);
    padding: 15px;
}

.head:after {
    content: '';
    width: 0px;
    height: 0px;
    border-top: 10px solid rgb(117 164 50);
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 53.5vh;
    margin-bottom: -30px;
}

.head-two:after {
    content: '';
    width: 0px;
    height: 0px;
    border-top: 10px solid rgb(37 162 216);
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 53.7vh;
    margin-bottom: -30px;
}

/* ---------------Bottom image---------------- */

#bottom-img {
    width: 100%;
    height: 30vh;
    background-image: url(images/ww.jpg);
    background-size: 1400px 230px;
    background-repeat: no-repeat;
}

.divs {
    height: 40vh;
    display: flex;
    align-items: center;
}

.div-one {
    height: 50px;
    flex: 1;
    text-align: center;
}

.div-two {
    flex: 1;
}

.div-two p,
h5 {
    padding: 5px;
}

/* ----------------Join now Section----------------- */

.join-now {
    padding: 50px;
    background-color: aqua;
    text-align: center;
    background-color: rgb(227 240 230);
}

#explore-btn {
    padding: 8px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: rgb(139 190 80);
    background-color: rgb(194 240 194);
}

#sign-up-btn {
    padding: 8px 45px;
    margin-top: 20px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    color: rgb(75 143 202);
    background-color: rgb(176 207 253);
}

/* ---------------Footer--------------- */

.footer {
    background-color: rgb(115 162 48);
}

.footer-list {
    color: white;
    padding: 0px 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-list ul {
    flex: .5;
}

.list-pad {
    padding-left: 60px;
}

.footer-list ul li {
    list-style: none;
}

.icon img {
    width: 160px;
    margin-bottom: -5px;
    /* height: 100%; */
}

.social {
    display: flex;
    padding-left: -50px;
    /* align-items: center; */
}

.social-res{
    display: none;
}

.social li {
    list-style: none;
    width: 42px;
    height: 50px;
}

.social-1 {
    background-image: url(images/fbfooter.png);
    background-size: 20px 25px;
    background-repeat: no-repeat;
}

.social-2 {
    background-image: url(images/tweeterfooter.png);
    background-size: 20px 25px;
    background-repeat: no-repeat;
}

.social-3 {
    background-image: url(images/gmailfooter.png);
    background-size: 20px 25px;
    background-repeat: no-repeat;
}

.social-4 {
    background-image: url(images/instafooter.png);
    background-size: 20px 25px;
    background-repeat: no-repeat;
}

.footer-text {
    font-size: 12px;
    color: lightgray;
    /* border-bottom: 1px solid lightgrey; */
    padding: 20px 20px;
}

.footer-text p:last-child {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.copyright {
    font-size: 12px;
    color: lightgray;
    padding: 0px 20px 20px 20px;
}

/* Mediaqueries */

@media only screen and (max-width:480px) {
    .main-container {
        width: 480px;
    }

    .main-div {
        width: 480px;
    }

    .small_container {
        width: 480px;
        display: block;
        margin-top: 0px;
    }

    .head-img {
        display: none;
    }

    .heading {
        /* text-align: justify
        ; */
    }

    .two_box {
        margin-top: 40pxpx;
        display: block;
    }

    .box-one {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 50%;
    }

    .box-one button{
        margin-top: 20px ;
        margin-bottom: 20px;
    }
    
    .head:after {
        content: '';
        width: 0px;
        height: 0px;
        border-top: 10px solid rgb(117 164 50);
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        bottom: 53.4vh;
        margin-bottom: -30px;
    }

    .box-two {
        margin: 0 auto;
        width: 50%;
    }

    .head-two:after {
        content: '';
        width: 0px;
        height: 0px;
        border-top: 10px solid rgb(37 162 216);
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        bottom: -79.5vh;
        margin-bottom: -30px;
    }

    .divs{
        display: block;
        height: auto;
    }

    .div-one{
        font-size: larger;
        color: gray;
        margin: 30px 0px;
    }

    .div-two{
        color: gray;
        margin: 20px 5px;
    }

    .footer-list{
        padding: 0px;
        flex-wrap: wrap;
    }

    .icon{
        margin-top: 10px;
        padding: 10px 120px;
    }

    .footer-list ul{
        padding: 10px 60px ;
    }

    .social{
        display: none;
    }

    .social-res {
        display: flex;
        padding-left: -50px;
        /* align-items: center; */
    }
    
    .social-res li{
        list-style: none;
        width: 42px;
        height: 50px;
    }
}
